body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

h4 {
    font-family: 'Courgette', cursive;
    font-size: 24px;
}


/* Top-section */

 
header {
    border-bottom: solid 1px white;
    color:white;
}

header nav a{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Sidebar */

.sidebar .social-networks img {
    height: 30px;
    margin-inline: 5px;
}

/* Footer */

footer {
    color: white;
    background-color: black;
}

footer ul {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    list-style-type: none;
    padding-left: 0;
}

footer .social-networks img {
    height: 30px;
    filter: brightness(0) invert(1);
    margin-inline: 5px;
}