body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

h4 {
    font-family: 'Courgette', cursive;
    font-size: 24px;
}

/* Top-section */


.top-section {
    background-image: url("/img/header.jpg");
    background-position: center;
    max-height: 100%;
}
  
.content {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

  
header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
    color:white;
    z-index: 2;
}

header nav a{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.titre-site {
    text-align: center;
}


/* Footer */

footer {
    color: white;
    background-color: black;
}

footer ul {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    list-style-type: none;
    padding-left: 0;
}

footer .social-networks .social-logo {
    height: 30px;
    filter: brightness(0) invert(1);
    margin-inline: 5px;
}