.top-section {
    background-image: url("../img/header.jpg");
    background-position: center;
    height: 400px;
}

.content {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.titre-site img {
    height: 60px;
    margin-bottom: 40px;
}

section p {
    line-height: 10px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}