.top-section {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
    background-position: center;
    height: 400px;
}

.content {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}


.test {
    display:flex;
}
p {
    font-family: Oswald;
}
body {
    font-family: courgette;
}
aside {
    font-family: courgette;
}
aside form {
font-family: courgette;
display: flex;
flex-direction: column;
}

